[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
minio = "*"
pymysql = "*"

[dev-packages]
mypy = "*"
pydocstyle = "*"
black = "*"
isort = "*"
pytest = "*"
pytest-cov = "*"
ipdb = "*"
jedi = "<0.18.0"
python-language-server = "*"
flake8 = "*"
docker = "*"
datajoint = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
